body {
    background: #f6f6f6;
    height: 100vh;
    padding: 0 2rem;
}

#main-header {
    border-radius: 10px;
    margin-bottom: .8rem;
    /* margin-top: .8rem; */
}

#input-area{
    padding: 0 5rem;
}

#ud-area, #mw-area{
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    background: white;
}

/* .message{
    display: none;
} */

@media (max-width: 414px){
    #input-area{
        padding: 0;
    }
    .hero-body{
        padding: .5rem;
    }
}